@media all and (max-width: 600px)
{
header{
    justify-content:none;
    width: auto;
    border: 1px red solid;
    margin: 0 -31px 0 -31px;
    }
#header{
        height: 400px;
        width: 375;
        border: 1px black solid;
}

.nav_header{
    flex-direction: column;
    border: 1px green solid;
    }
/*research*/
#recherche{
    padding-bottom: 30px;
}
.icone2recherche{
    width: 50px;  
}
#onglet2recherche{ 
    width: 50px;    
}
#onglet2recherche p {
  display:none;
}


}