@media all and (max-width: 600px)
{
header{
    width: auto;
    border: 1px red solid;
    }
#header{
    height: 400px;
    width: 100%;
    border: 1px black solid;
}

.nav_header{
    flex-direction: column;
    border: 1px green solid;
    }
/*research*/
#recherche{
    width: 89%;
    padding-bottom: 30px;
    border: 1px blue solid;
    padding-right: 1% 
}
.icone2recherche{
    width: 50px;  
}
#onglet2recherche{ 
    width: 50px;    
}
#onglet2recherche p {
  display:none;
}
/*les filtres*/
#selection2filtres{
    justify-content: flex-start;
    border: 1px red solid;
}
.Filtres{
    border: 1px blue solid;
}
/*footer en colonne*/
footer{
    display: flex;
    flex-direction: column;

}
}