@media all and (max-width: 1024px){
/*header*/
header{
	padding: 0 15px 0 15px;
}
#hebergements,
#activites,
#inscription{
    padding: -20px;
}
.titre_recherche h1{
    font-size: 20px;
}
.titre_recherche p, 
.titre_recherche strong{

}
#recherche{
	display: inline-flex;
	justify-content: center;
	width: auto;
	margin-top: -20px;
}
.icone2recherche{
	width: 70%;
}
/*filtre*/
#selection_filtres{
	display: initial;
	flex-direction: column;
    align-content: flex-start;
    height: auto;
    width: auto;
    padding-left: 10%
}
.selection2filtres{
	flex-direction: row;
	height: auto;
	width: auto;
	flex-wrap: wrap;
	margin: 0 -30px 0 15px;
}
.Filtres{
    margin-left: 30px;
    margin-top: -15px;
}
.bouton_filtres{
	padding-bottom: 30px;
	margin-left: 10px;
}

/*les bébergements et les populaires*/
#description_hébergement{
	height:1500px;
	display: flex;
	flex-direction: column-reverse;
}
/*Les populaires*/
.populaires{
	width: auto;
	margin: 50px -34px 0 -34px;
	border-radius: 0;
	margin-bottom: 20px;
}
.fa-chart-line{
    font-size: 1.2em;
    margin-right: 9%; 
    margin-top: 2%
}
.img_font4{
    align-content: flex-start;
    height: 155px;
    width: 92%;
    margin-bottom: 35px;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
}
.img_font6{
    width: 30%px;
    height:141px;
}
.img_font7{
    height:141px;
    width: 100%;
    font-size: 1.2em;
}
.most_popular{
	font-size: 1.1em;
	padding-left: 20px;
}
/*les hébergements*/
.hébergement{
	width: auto;
	height: 890px;
	margin: 0 -32px 0 -32px;
	justify-content: space-around;
	background-color: white
}
.selection_hébergement {
	width: auto;
    height: 800px;
    flex-direction: row;
    padding-top: 3px;
    padding-left: -3px;
    margin: 0 2% 3% 2%;
}
article{
	padding-bottom: 40px;
	margin-bottom: 30px;
}
.img_font1{
    width: 45%;
    height: 240px;
    box-shadow: 0 3px 5px 3px #F2F2F2;
 	margin-bottom: 4.5%;
}
.img_font3{
    width: 96%;
    height:140px;
}
.img_font2s{
	padding: 30px 0 0 25px;
}
.hébergement h2{
	font-size: 1.3em; 
}
.img_font2s1{
	font-size: 1.1em;
}
.img_font2s2{
	font-size: 1.2em;
}
.star{
	font-size: 1em;
}
.plus{
    width: auto;
    padding-left: 10px;
}
#résultat_activité{
	font-size: 1.3em;
}
/*les activités*/
#résultat_activité{
	font-size: 1.3em
}
.ensemble_images{
	display: flex;
	flex-direction: row
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: auto;
	height: 820px;
	font-size: 1.1em;
}
#img_act1,
#img_act2,
#img_act3,
#img_act4,
#img_act5,
#img_act6{
	width: 45%;
	height: 230px;
	margin: 0;
	padding:0;
}
.img_act1,
.img_act2,
.img_act3,
.img_act4,
.img_act5,
.img_act6{
	width: 100%;
	height: 180px
}

/*le footer*/
footer{
    height: auto;
    width: auto;
    background-color: #F2F2F2;
    display: flex;
}
#titre_footer{
    margin-right: 50px;
}
}